* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 32, 32);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #1e9480;
    padding: 10px;
}

.head {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 34px;
    color: #ffffff;
    flex: 1;
    font-family: 'Quantico', sans-serif;
}

.link {
    padding: 6px 10px;
    color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 14px;
}

.heroimg {
    width: 100%;
    max-height: 300px;
}

.hero {
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.heroText {
    flex: 1;
    font-size: 5.4vw;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: whitesmoke;
}

.heroimgContainer {
    flex: 1;
}

.upload {
    font-size: 5.4vw;
    color: #f5f5f5;
    padding: 8px 12px;
    background-color: rgb(218, 66, 20);
    border-radius: 40px;
    width: 120px;
    display: block;
    margin: 20px auto;
    font-family: "Fira Code Medium";
    font-weight: 500;
}

.upload:hover {
    background-color: rgb(190, 30, 30);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.uploading {
    margin-top: 20px;
    position: relative;
}

.uploadingimg {
    display: block;
    width: 70%;
    margin: auto;
    opacity: 0.1;
}

.form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: auto;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formhead {
    font-size: 34px;
    font-weight: bold;
    color: whitesmoke;
}

.uploadform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    margin: auto;
}

.uploadfile {
    padding: 6px 12px;
    color: whitesmoke;
    outline: none;
    border-radius: 3px;
    background-color: #1a1818;
    cursor: pointer;
    font-family: 'Fira code';
    font-weight: 600;
}

.uploadbtn {
    width: 80px;
    margin: auto;
    background: linear-gradient(to right, cornflowerblue, royalblue);
    outline: none;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.uploadbtn1 {
    background: linear-gradient(to right, cornflowerblue, royalblue);
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 22px;
}

.uploadDone {
    display: none;
    background-color: rgb(76, 68, 70);
    position: absolute;
    width: 100%;
    height: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.success {
    font-size: 32px;
    color: #ce8e06;
    text-align: center;
}

.success-btn {
    background: linear-gradient(to right, cornflowerblue, royalblue);
    outline: none;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 20px;
}

.uploadDoneShow {
    display: flex;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.book {
    background-color: #413d3d;
    width: 90%;
    margin: 15px auto;
    color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 20px;
    box-shadow: 2px 2px 8px #1a1818;
}

.booksHead {
    color: whitesmoke;
    text-align: center;
    font-size: 22px;
    padding: 10px
}

.name {
    min-height: 100px;
    word-wrap: break-word
}

.book button {
    border-radius: 10px;
    padding: 5px 8px;
    font-family: Fira Code;
    outline: none;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #1e9480;
}

.book button:active {
    background-color: #166659;
}

.spinner {
    width: 100px;
    margin: auto;
    margin-top: 40px;
}

.spinner img {
    width: 80px
}

/* * All File Conversions */
.allConversionsHeading {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: whitesmoke;
}

.allFileConversions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin: auto;
}

.fileConversion {
    background-color: rgb(8, 143, 132);
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    border-radius: 5px;
}


/* $ Pdf to Docx */
.pdftodocx {
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding: 20px
}

.pdftodocxform {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}

.pdftodocxfile {
    background-color: #1a1818;
    padding: 10px;
    font-family: "Fira Code";
    color: whitesmoke;
    cursor: pointer;
    outline: none;
    border: none;
}

.pdftodocxbutton {
    width: 90px;
    margin: auto;
    padding: 5px 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: linear-gradient(to right, rgb(0, 128, 111), rgb(93, 184, 171));
    font-size: 14px;
    border-radius: 2px;
    font-family: "Fira Code";
    color: white
}

.pdftodocxbutton:hover {
    background: linear-gradient(to left, rgb(0, 128, 111), rgb(93, 184, 171));
}

.downloadPdf button {
    width: 90px;
    padding: 10px;
    background-color: #166659;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
}


video {
    outline: none;
    border: none;
}


@media screen and (max-width:762px) {
    .hero {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
    }
}

@media screen and (max-width:762px) {
    .form {
        width: 80%;
        top: 50%;
    }
}