* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(34, 32, 32);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 66, 20);
    padding: 10px;
    color: white;
}

.title {
    font-size: 34px;
    flex: 1;
    font-family: 'Quantico', sans-serif;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    background-color: #33343a;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #69162b;
    border: none;
    cursor: pointer;
    outline: none;
}

.heroimg{
    width: 100%;
    max-height: 300px;
}

.hero{
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.heroText{
    flex: 1;
    font-size: 5.4vw;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: whitesmoke;
}
.heroimgContainer{
    flex: 1;
}

.upload {
    font-size: 18px;
    color: #f5f5f5;
    padding:8px 12px;
    background-color:  rgb(218, 66, 20);
    border-radius: 40px;
    width: 120px;
    display: block;
    margin: 20px auto;
    font-family: "Fira Code Medium";
    font-weight: 500;
}

.upload:hover{
    background-color:rgb(190, 30, 30);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.uploading{
    margin-top: 20px;
    position: relative;
}

.uploadingimg{
    display: block;
    width: 70%;
    margin: auto;
    opacity: 0.1;
}

.form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    margin: auto;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formhead {
    font-size: 34px;
    font-weight: bold;
    color: whitesmoke;
}

.uploadform {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    margin: auto;
}

.uploadfile{
    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    background-color: rgb(218, 66, 20);
    cursor: pointer;
    font-family: 'Fira code';
    font-weight: 600;
}

.uploadbutton{
    outline: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(218, 66, 20);
    font-family: 'Fira code';
    font-weight: bold;
}

.uploadbutton:active{
    background-color: #34325e;
}

.doneText {
    text-align: center;
    font-size: 36px;
}

.done {
    outline: none;
    border: none;
    padding:5px 10px;
    background-color: rgb(218, 66, 20);
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 300px;
    font-family: 'Fira code';
    font-size: 20px;
    box-shadow: 3px 3px 3px rgb(43, 40, 40);
}

.done:active {
    background-color: #34325e;
}

.modal {
    background-color: rgb(75, 71, 71);
    width: 80%;
    height: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.signuptitle{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    padding: 20px;
}

.signupform{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.username,.password,.email,.confirmPassword{
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    color: rgb(214, 206, 206);
    font-family: 'Fira Code';
    font-weight: 600;
    background-color: #18181a;
}

.signupbutton,.loginbutton{
    width: 100px;
    padding: 8px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background:linear-gradient(to right,cornflowerblue,royalblue);
    color: white;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Fira Code';
    font-weight: 500;
}

/**  Login Page Styles*/
.logintitle{
    font-size: 32px;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

.loginform{
    width: 80%;
    margin: auto;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 4px;
}

.loginusername,.loginpassword{
    outline: none;
    background-color: #18181a;
    border: none;
    padding: 8px 10px;
    font-family: "Fira Code";
    font-weight: 700;
    color: whitesmoke;
}

.msg{
    color: wheat;
    text-align: center;
}

.permission{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
}

.person{
    width: 30px;
    cursor: pointer;
}

.userinfo{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.dp > img {
    width: 100px;
    margin: auto;
    display: block;
}

.dp{
    flex: 1;
}

.info{
    display: flex;
    flex: 3;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}


.buttons{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: auto;
    padding: 10px 0px;
}
.button{
    background:linear-gradient(to right, cornflowerblue,royalblue);
    outline: none;
    border: none;
    padding: 5px 10px;
    color: whitesmoke;
    font-weight: 500;
    font-family: "Fira Code";
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width:762px){
    .hero{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
    }
}

@media screen and (max-width:762px){
    .form{
        width: 80%;
        top: 50%;
    }
}