* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218, 56, 97);
    padding: 10px;
    color: white;
}

.title {
    font-size: 34px;
    flex: 1;
    font-family: 'Quantico', sans-serif;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}

.heroimg{
    width: 100%;
    max-height: 300px;
}

.hero{
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;
}

.heroText{
    flex: 1;
    font-size: 5.4vw;
    text-align: center;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: black;
}
.heroimgContainer{
    flex: 1;
}

.upload {
    font-size: 18px;
    background-color: #34325e;
    padding:8px 12px;
    color: white;
    border-radius: 40px;
    width: 120px;
    display: block;
    margin: 20px auto;
}

.upload:hover{
    background-color: rgb(253, 19, 66);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.uploading{
    margin-top: 20px;
    position: relative;
}

.uploadingimg{
    display: block;
    width: 70%;
    margin: auto;
    opacity: 0.1;
}

.form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    margin: auto;
    text-align: center;
    /* background-color: #34325e; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.formhead {
    font-size: 34px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    margin: auto;
}

input[type="file"]{
    padding: 5px 10px;
    outline: none;
    border-radius: 3px;
    background-color: rgb(231, 22, 64);
    cursor: pointer;
    font-family: 'Fira code';
    font-weight: 600;
}

input[type="submit"]{
    outline: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100px;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(231, 22, 64);
    font-family: 'Fira code';
    font-weight: bold;
}

@media screen and (max-width:762px){
    .hero{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
    }
}

@media screen and (max-width:762px){
    .form{
        width: 80%;
        top: 50%;
    }
}